{% load static %}
{% block nosotros %}
<div class="container-fluid bg-secondary py-5 " id="nosotros">
    <div class="container text-center py-5">
        <h1 class="display-3">Nuestro Equipo</h1>
        <hr>
        <div class="card-deck justify-content-center">
            <!--card 1-->
            <div class="card shadow-lg" style="height: 20rem; border-radius: 1rem;">
                <img class="card-img-top rounded-circle" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nombre completo</h5>
                  <p class="card-text"><small class="text-muted">Cargo en la empresa</small></p>
                </div>
            </div>
            <!--fin card 1-->
            <!--card 2-->
            <div class="card shadow-lg" style="height: 20rem; border-radius: 1rem;">
                <img class="card-img-top rounded-circle" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nombre completo</h5>
                  <p class="card-text"><small class="text-muted">Cargo en la empresa</small></p>
                </div>
            </div>
            <!--fin card 2-->
            <!--card 3-->
            <div class="card shadow-lg" style="height: 20rem; border-radius: 1rem;">
                <img class="card-img-top rounded-circle" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nombre completo</h5>
                  <p class="card-text"><small class="text-muted">Cargo en la empresa</small></p>
                </div>
            </div>
            <!--fin card 4-->
            <!--card 5-->
            <div class="card shadow-lg" style="height: 20rem; border-radius: 1rem;">
                <img class="card-img-top rounded-circle" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nombre completo</h5>
                  <p class="card-text"><small class="text-muted">Cargo en la empresa</small></p>
                </div>
            </div>
            <!--fin card 5-->
            <!--card 6-->
            <div class="card shadow-lg" style="height: 20rem; border-radius: 1rem;">
                <img class="card-img-top rounded-circle" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nombre completo</h5>
                  <p class="card-text"><small class="text-muted">Cargo en la empresa</small></p>
                </div>
            </div>
            <!--fin card 6-->   
        </div>
    </div> 
</div>

{% endblock %}