{% load static %}
{% block productos %}
    <div class="container-fluid bg-primary py-5" id="productos">
        <div class="container text-center py-3">
            <h1 class="display-3" >Productos disponibles</h1>
            <hr>
            <div class="card-columns justify-content-center ">
                <!--tarjeta 1-->
                <div class="card p-3 shadow" style="width: 18rem; border-radius: 1rem;">
                    <img class="card-img-top" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- fin tarjeta 1-->
                <!--tarjeta 1-->
                <div class="card p-3 shadow" style="width: 18rem; border-radius: 1rem;">
                    <img class="card-img-top" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- fin tarjeta 1-->
                <!--tarjeta 1-->
                <div class="card p-3 shadow" style="width: 18rem; border-radius: 1rem;">
                    <img class="card-img-top" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- fin tarjeta 1-->
                <!--tarjeta 1-->
                <div class="card p-3 shadow" style="width: 18rem; border-radius: 1rem;">
                    <img class="card-img-top" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- fin tarjeta 1-->
                <!--tarjeta 1-->
                <div class="card p-3 shadow" style="width: 18rem; border-radius: 1rem;">
                    <img class="card-img-top" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- fin tarjeta 1-->
                <!--tarjeta 1-->
                <div class="card p-3 shadow" style="width: 18rem; border-radius: 1rem;">
                    <img class="card-img-top" src="{% static 'image/gato.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- fin tarjeta 1-->
            </div>
        </div>
    </div>
{% endblock %}